

h1,
h2,
h3 h1 {
  font-size: 26px;
  font-family: sans-serif;
  text-transform: uppercase;
  font-style: italic;
}

h2 {
  font-size: 30px;
  font-family: sans-serif;
}

h3 {
  font-size: 30px;
  font-family: sans-serif;
}

h4 {
  font-size: 20px;
  font-family: sans-serif;
  text-transform: uppercase;
  text-align: center;
}

p {
  font-size: 22px;
  font-family: sans-serif;
  line-height: 1.5;
}

li {
  font-family: sans-serif;
}

#author {
  font-style: italic;
  font-size: 18px;
}

#copyright {
  font-size: 16px;
  font-family: sans-serif;
}

#identificador    {
  margin-top: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  }

  #IndexBackground {
   background-color: rgba(179, 179, 144, 0.123);
   margin: 30px;
   margin-top: 50px;
   font-family: 'Press Start 2P', cursive;
  }

  #CICD {
    font-family: 'Press Start 2P', cursive;
  }

  #footertabla {
    background: rgb(14, 13, 13);
  margin: 5rem;
  padding: 0rem;
  text-align: center;
  color: rgb(250, 250, 248);
  font-size: 1rem;
}
